<form class="contact-form" action="https://formkeep.com/f/3c23851248f6" method="post" accept-charset="UTF-8" target="_self">
  <div style="opacity:0;position:absolute;top:0;left:-5000px;height:0;width:0" aria-hidden="true">
    <label for="subscribe_3c23851248f6_50685"></label>
    <input name="subscribe_3c23851248f6_50685" value="" tabindex="-1" autocomplete="off"
           type="email" id="subscribe_3c23851248f6_50685" placeholder="Your email here">
  </div>
  <label for="contact-name">Name</label>
  <input type="text" id="contact-name" name="name" autocomplete="name" required>
  <label for="contact-email">Email</label>
  <input type="email" id="contact-email" name="email" autocomplete="email" required>
  <label for="contact-message">Message</label>
  <textarea id="contact-message" name="message" rows="8" required></textarea>
  <button type="submit">Send</button>
</form>
