<footer class="site-footer">
    <div class="wrapper footer" style="text-align:center">
        <p>
        <a href="https://www.twitter.com/forwardsecrecy" title="Twitter"><i class="fa fa-twitter"></i></a>
        <a href="https://www.linkedin.com/in/ronstoner" title="LinkedIn"><i class="fa fa-linkedin"></i></a>
        <a href="https://www.github.com/ronaldstoner" title="Twitter"><i class="fa fa-github"></i></a>
        <a href="https://www.medium.com/@forwardsecrecy/" title="Medium"><i class="fa fa-medium"></i></a>
        </p>
    </div>
</footer>
